exportPattern(split.vectors)
exportPattern(numeric_summary)
exportPattern(factor_summary)
exportPattern(DF.ttest)
exportPattern(sturge)
exportPattern(mode)
exportPattern(Numeric.Dist)
exportPattern(Character.Dist)
exportPattern(DF.aov_ttest)
